* {
    margin: 0px;
    padding: px;
    box-sizing: border-box;

}

/* header{
    background-color: black;
} */

.container{
    width: 80%;
    color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.titulo{
    background-color: rgb(252, 59, 59);
    color: rgb(0, 0, 0);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.dados{
    background-color: 	#FA8072;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}